 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
 .color {
     background: #00587a;
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
 }

 .imagenes {
     width: 25%;
 }

 .navsize {
     font-weight: bold;
 }

 .sombra {
     text-shadow: 0.100em 0.15em 0.100em #707070
 }

 hr {
     margin-top: 5px;
     margin-bottom: 5px;
     height: 1px;
     width: 100%;
     border-top: 2px solid #00587a;
 }

 body {
     font-family: 'Oswald', sans-serif;
 }

 header {
     background-image: url('../img/david_nieve.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: left;
     padding-bottom: 10rem;
 }

 footer {
     background-color: #00587a;
     margin-top: 6em;
     font-family: 'Oswald', sans-serif;
     font-weight: 500;
     color: #fff;
     text-align: center;
     font-size: 40px;
     padding: 5% 10% 2% 15%;
 }

 .comenzar {
     font-weight: bold;
 }